.header {
    display: flex;
    margin: 30px;
    align-items: center;
    width: 400px;
    transition-duration: 400ms;
    transform: translate(-280px);
}

.header:hover {
    transition-duration: 600ms;
    transform: translate(0);
}

.item a {
    margin: 15px;
    color: white;
    text-decoration: none;
}

.item a.active {
    color: #b385e8;
}


.button {
    height: 30px;
    width: 50px;
    margin: 40px;

    border: none;
    border-radius: 5px;
    transform: translate(-50%, -50%);
}

.button:before,
.button:after,
.button div {
    background: #b385e8;
    content: "";
    display: block;
    height: 6px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;
}
.button:hover:before {
    transform: translateY(12px) rotate(135deg);
}
.button:hover:after {
    transform: translateY(-12px) rotate(-135deg);
}
.button:hover div {
    transform: scale(0);
}
