.sliderContainer {
    
    margin-bottom: 50px;
    width: 100%;
}
  
.rangeSlider {
    margin-left: 50px;
    -webkit-appearance: none;
    width: 60%;
    height: 10px;
    border-radius: 5px;
    outline: none;
    padding: 0;
    background-color: rgba(28, 8, 46, 0.31);
    
}
  
.rangeSlider::-webkit-slider-thumb {
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: blueviolet;
    cursor: pointer;
    transition: background .15s ease-in-out;
}
  
.rangeSlider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    transition: background .15s ease-in-out;
}
  
.rangeSliderValue {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    padding: 5px 10px;
    margin-left: 12px;
    font-size: 18px;
}
  
.rangeSliderValue:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    content: '';
}

.rangeMinMaxValues {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    width: 60%;
    margin-left: 50px;
}