.sliderContainer {
    
    margin-bottom: 50px;
    width: 100%;
    
}
  
.rangeSlider {
    
    margin-left: 50px;
    -webkit-appearance: none;
    width: 60%;
    height: 10px;
    border-radius: 5px;
    outline: none;
    padding: 0;
    background-color: rgba(28, 8, 46, 0.31);
    
}
.rangeSlider2 {
    pointer-events: none;
    -webkit-appearance: none;
    position:relative;
    bottom:35px;
    margin-left: 50px;
    -webkit-appearance: none;
    width: 60%;
    height: 10px;
    border-radius: 5px;
    outline: none;
    padding: 0;
    background-color: rgba(28, 8, 46, 0);
    
}
  
.rangeSlider::-webkit-slider-thumb {
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: blueviolet;
    cursor: pointer;
    transition: background .15s ease-in-out;
}
.rangeSlider2::-webkit-slider-thumb {
    pointer-events: all;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: blueviolet;
    cursor: pointer;
    transition: background .15s ease-in-out;
}
  
.rangeSlider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    transition: background .15s ease-in-out;
}
  
.rangeSliderValue {
    display: inline-block;
    position: relative;
    bottom:35px;
    width: 60px;
    background-color: rgba(137, 43, 226, 0.387);
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    padding: 5px 10px;
    margin-left: 12px;
    font-size: 18px;
}
  


.rangeMinMaxValues {
    display: flex;
    position: relative;
    bottom:35px;
    justify-content: space-between;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    width: 60%;
    margin-left: 50px;
}