.message {
    display: flex;
    margin: 10px;
    align-items: flex-end;
}


.avatar {
    height: 64px;
    width: 64px;
    border-radius: 64%;
}
.content {
    padding: 10px;
    border-radius: 8px 8px 8px 0;
    background-color: rgba(255, 255, 255, 0.3);
}

.text {
    min-width: 150px;
    max-width: 300px;
    word-wrap:break-word;
}

.name {
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}

.time {
    display:flex;
    justify-content: flex-end;
    color: azure;
}

.angle {
    width: 16px;
    height: 16px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, rgba(255, 255, 255, 0.3) 0);
}