

.title {
    color: azure;
    font-weight: bold;
}

.priority {
    color: rgb(250, 54, 83);

}

.affair {
    width: 400px;
    line-height: 50px;
    padding-left: 10px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonDelete {
    border: 2px solid #858585;
    color: white;
    background-color: #696868;
    border-radius: 5px;
    justify-content: right;
}

.header {
    margin-left: 20px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, serif;
}

.button {
    font-weight: bold;
    width: 60px;
    border: 2px solid #696868;
    color: white;
    border-radius: 5px;
    background: linear-gradient(to bottom right, #696868, #444444);
    margin: 15px
}

.selected__button {
    width: 60px;
    border: 2px solid #696868;
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px;
    background: linear-gradient(to bottom right, #f93a13, #755454);
    margin: 15px
}