
.title {
    color: #bdbdbd;
    font-weight: bold;
}

.priority {
    color: #523786;
    text-shadow: 1px 1px 2px rgba(14, 14, 14, 0.95);

}

.affair {
    width: 400px;
    line-height: 50px;
    padding-left: 10px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonDelete {
    border: 1px solid rgba(179, 133, 232, 0.52);
    color: rgba(255, 255, 255, 0.35);
    background-color: rgba(3, 3, 3, 0.55);
    border-radius: 8px;
    justify-content: right;
}

.header {
    margin-left: 20px;
    color: rgb(3, 3, 3);
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, serif;
}

.button {
    font-weight: bold;
    width: 60px;
    border: 2px solid rgba(179, 133, 232, 0.52);
    color: rgba(255, 255, 255, 0.35);
    border-radius: 8px;
    background: rgba(3, 3, 3, 0.55);
    margin: 15px
}

.selected__button {
    width: 60px;
    border: 2px solid rgba(179, 133, 232, 0.52);
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px;
    background: #b691ff;
    margin: 15px
}