.someClass {
    margin: 20px;
    display: flex;
    align-items: baseline;

}

.error {
    color: red;
    margin-left: 15px;

}
.input {
    border: 2px solid rgba(179, 133, 232, 0.52);
    margin-left: 15px;
    border-radius: 5px;

}

.errorInput {
    border: 1px solid red;
    margin-left: 15px;
    border-radius: 5px;
}

.counter {
    font-weight: bold;
    margin-left: 10px;
    color: #bdbdbd;
}
.button {
    margin-left: 5px;
    border: 2px solid rgba(179, 133, 232, 0.52);
    background-color:rgba(3, 3, 3, 0.55);
    color:rgba(255, 255, 255, 0.35);
    border-radius: 5px;
}